@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
}

.disccount {
    background-color: #1cd1b0;
    font-size: 2em;
    height: 2em;
    padding: 0.5em 0em 0.5em 32px;
    position: sticky;
    top: 0px;
    z-index: 99;
}

header {
    position: sticky;
    top: 4em;
    z-index: 99;
}

header h1 {
    background-color: #00669f;
    color: white;
    font-size: 3em;
    padding: 0.5em 0em 0.5em 32px;
}

.card {
    margin: 3em auto;
    width: 700px;
    max-width: 60%;
}

.bgBatman {
    background-image: url("../img/bg-batman.jpg");
    background-position: 0px 0px;
    background-size: 100%;
    border-radius: 50px 50px 0 0;
    height: 406px;
    position: relative;
}

.bgWonderWoman {
    background-image: url("../img/bg-wonderw.jpg");
    background-position: 0px 0px;
    background-size: 100%;
    border-radius: 50px 50px 0 0;
    height: 406px;
    position: relative;
}

.bgSuperman {
    background-image: url("../img/bg-superman.jpg");
    background-position: 0px 0px;
    background-size: 100%;
    border-radius: 50px 50px 0 0;
    height: 406px;
    position: relative;
}

.bottom-card {
    background-color: gainsboro;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 180px 0 20px 0;
    position: relative;
}

.icoBatman {
    background-image: url("../img/batman.jpg");
    background-position: 613px 0px;
    border-radius: 50%;
    height: 300px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: -25%;
    width: 300px;

}

.icoWonderWoman {
    background-image: url("../img/wonderw.jpg");
    background-position: 300px 0px;
    background-size: 100%;
    border-radius: 50%;
    height: 300px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: -25%;
    width: 300px;
}

.icoSuperMan {
    background-image: url("../img/superman.jpg");
    background-position: 380px 0px;
    background-size: 150%;
    border-radius: 50%;
    height: 300px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: -25%;
    width: 300px;
}

i {
    color: #cc2424;
    font-size: 3em;
    left: 6.25%;
    position: absolute;
    top: 6.25%;
}

.bottom-card h2 {
    text-align: center;
    font-size: 4em;
}

.bottom-card p {
    font-size: 2em;
    text-align: center;
}

.bottom-card a {
    background-color: #00669f;
    border-radius: 5px;
    color: white;
    display: block;
    font-size: 2.5em;
    margin: 1em auto;
    padding: 0.5em 0em;
    text-align: center;
    text-decoration: none;
    width: 8em;
}

.buttomPlus {
    background-color: #00669f;
    border-radius: 50%;
    color: white;
    display: block;
    font-size: 6em;
    height: 150px;
    padding-top: 16px;
    position: fixed;
    right: 1%;
    text-align: center;
    text-decoration: none;
    top: 50%;
    width: 150px;
}