@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
}

.disccount {
    background-color: #1cd1b0;
    font-size: 16px;
    /* height: 20px; */
    padding-left: 20px;
    position: sticky;
    top: 0px;
    z-index: 9;
}

header {
    position: sticky;
    top: 16px;
    z-index: 9;
}

header h1 {
    background-color: #00669f;
    color: white;
    font-size: 24px;
    padding-left: 20px;
}

.card {
    margin: 3em auto;
    width: 400px;
    max-width: 40%;
}

.bgBatman {
    background-image: url("../img/bg-batman.jpg");
    background-position: 0px 0px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50px 50px 0 0;
    height: 256px;
    position: relative;
}

.bgWonderWoman {
    background-image: url("../img/bg-wonderw.jpg");
    background-position: 0px 0px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50px 50px 0 0;
    height: 256px;
    position: relative;
}

.bgSuperman {
    background-image: url("../img/bg-superman.jpg");
    background-position: 0px 0px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50px 50px 0 0;
    height: 256px;
    position: relative;
}

.bottom-card {
    background-color: gainsboro;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 80px 0 5px 0;
    position: relative;
}

.icoBatman {
    background-image: url("../img/batman.jpg");
    background-position: 278px 0px;
    background-size: 300%;
    border-radius: 50%;
    height: 150px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: -75px;
    width: 150px;

}

.icoWonderWoman {
    background-image: url("../img/wonderw.jpg");
    background-position: 0px 0px;
    background-size: 100%;
    border-radius: 50%;
    height: 150px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: -75px;
    width: 150px;
}

.icoSuperMan {
    background-image: url("../img/superman.jpg");
    background-position: 190px 0px;
    background-size: 150%;
    border-radius: 50%;
    height: 150px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: -75px;
    width: 150px;
}

.card i {
    color: #cc2424;
    font-size: 3em;
    left: 6.25%;
    position: absolute;
    top: 6.25%;
}

.bottom-card h2 {
    text-align: center;
    font-size: 2em;
}

.bottom-card p {
    font-size: 1.5em;
    text-align: center;
    padding: 5px;
}

.bottom-card a {
    background-color: #00669f;
    border-radius: 5px;
    color: white;
    display: block;
    font-size: 1.5em;
    margin: 0.25em auto;
    padding: 0.5em 0em;
    text-align: center;
    text-decoration: none;
    width: 8em;
}

.buttomPlus {
    position: fixed;
    right: 1%;
    color: #00669f;
    top: 50%;
    font-size: 3em;
}