@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Se declaran las variables de la pagina */

:root {
    --colorPrimary: white;
    --colorSecondary: #d01519;
    --sizeFontPrimary: 16px;
    --backgroundColorMain: #f2f3f2;
    --backgroundColorFooter: #222222;
    --backgroundColorHeader: #222222;

}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}