/* Se cambia la tipografia de la pagina web */
* {
    font-family: 'Open Sans',Arial, Helvetica, sans-serif;
}

body {
    background-image: url('../img/cool.svg');
   
}
/* Se configura el header, centrando el contenido, se coloca color de fondo y cambiar el color del texto */
header {
    background-image: url('../img/background3.gif');
    background-color: #e0dada;
    background-repeat: repeat-x;
    color:#1f497d;
    line-height: 2;
    text-align: center; 
    margin: 20px auto 0 auto;
    max-width: 60%;
    padding: 0 0 10px 0;
    border-radius: 20px;
}

header img {
    border-radius: 40%;
    margin-top: 1em;
}

/* Se le da color de fondo  y espaciado a la etiqueta h1 */

h1, h2 {
    
    letter-spacing: 4px;
    text-transform: uppercase;
    border-radius: 20px;
    opacity: 80%;
}

h1 {
    margin: 0 15px;
    font-weight: bold;
}

h2 {
    font-size: 18px;
    margin: 0 15px;
    background-color: #bfbfbf ;
    
}

main section h2 {
    color: #632423 ;
}

main {
    background-image: url('../img/background2.jpg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: white;
    margin: 20px auto;
    max-width: 60%;
    padding: 10px 0 20px 0;
    border-radius: 20px;
    line-height: 1.5;
}

.item-detail {
    font-style: italic;
    font-weight: bold;

}

footer {
    background-color:#5f82ad;
    font-size: 24px;
    color: white;
    text-align: center;
    margin: 0 auto;
    max-width: 60%;
    border-radius: 20px;
}

footer img {
    width: 20px;
}

.shadow {
    box-shadow: 6px 6px 6px 6px rgba(5, 5, 5, 0.281), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
  }