@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");


header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6)), url("../img/lemon-pie.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-family: "Inter", sans-serif;
}

nav a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
}

h2,
h3 {
  font-family: "Roboto", sans-serif;
}

main a {
  color: orange;
}

main {
  color: gray;
}
