@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("header.css");
@import url("footer.css");
@import url("var.css");

section {
    margin: 0 auto;
    padding-top: 80px;
    text-align: center;
    padding-bottom: 100px;
}

main section h2 {
    font-size: 72px;
    margin: 20px;
}

form {
    margin: 0 auto;
}

input,
textarea {
    border: 1px solid gainsboro;
    box-sizing: border-box;
    display: block;
    font-size: var(--fontSizeP);
    height: 40px;
    margin: 20px auto;
    padding-left: 10px;
    width: 450px;
}

textarea {
    height: 150px;
    resize: none;
}

input[type="submit"],
input[type="reset"] {
    background-color: var(--colorDisccount);
    border-radius: 20px;
    border: none;
    display: inline-block;
    font-size: var(--fontSizeP);
    font-weight: bold;
    margin: 30px auto 20px auto;
    width: 220px;
}

input[type="reset"] {
    background-color: gray;
}

select {
    font-size: var(--fontSizeP);
}

header ul {
    display: none;
}