@import url('var.css');

footer {
    background-color: var(--colorFooter);
    bottom: 0;
    color: var(--textColorFooter);
    font-size: var(--fontSizeFooter);
    height: 2vw;
    padding-top: 0.25vw;
    text-align: absolute;
    position: relative;
    width: 100%;
    z-index: 10;
    text-align: center;
}
