@import url('var.css');

header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 9;
}

.subNav1 {
    background-color: var(--colorDisccount);


}

.subNav1 p {
    font-size: var(--fontSizeNav1);
    margin-block-end: 0;
    margin-block-start: 0;
    margin-inline-end: 0;
    margin-inline-start: 0;
    padding-left: 1vw;
}

.subNav2 {
    background-color: var(--colorNav);
    padding-left: 0.5vw;

}

.subNav2 a {
    display: inline-block;
}

.subNav2 a img {
    display: inline-block;
    height: 4vw;
}

.subNav2 h1 {
    display: inline-block;
    color: var(--textColorNav);
    font-size: var(--fontSizeNav2);
    position: relative;
    top: -1vw;
    font-weight: lighter;
    padding-left: 1vw;
}

header ul {
    text-align: right;
    padding: 0.25vw 1vw 0.25vw 0.25vw;
    background-color: var(--colorNav2);
    display: block;
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
}

header ul li {
    display: inline;
    color: var(--textColorNav);
    padding: 1vw;
    font-size: var(--fontSizeNav1)
}

header ul li a {
    color: var(--textColorNav);
    text-decoration: none;

}

header ul li a:hover {
    background-color: gray;

}