@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url('header.css');
@import url('footer.css');
@import url('var.css');

section {
    margin: 0 auto;
    padding-top: 80px;
    text-align: center;
}

.card {
    display: inline-block;
    margin: 30px;
    width: 300px;
}

.bgBatman {
    background-image: url("../img/bg-batman.jpg");
    background-position: 0px 0px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50px 50px 0 0;
    height: 256px;
    position: relative;
}

.bgWonderWoman {
    background-image: url("../img/bg-wonderw.jpg");
    background-position: 0px 0px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50px 50px 0 0;
    height: 256px;
    position: relative;
}

.bgSuperman {
    background-image: url("../img/bg-superman.jpg");
    background-position: 0px 0px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50px 50px 0 0;
    height: 256px;
    position: relative;
}

.bgHarley {
    background-image: url("../img/bg-harley.png");
    background-position: -80px 0px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50px 50px 0 0;
    height: 256px;
    position: relative;
}

.icoBatman {
    background-image: url("../img/batman.jpg");
    background-position: 185px 0px;
    background-size: 300%;
    border-radius: 50%;
    height: 100px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 200px;
    width: 100px;
    z-index: 2;
}

.icoWonderWoman {
    background-image: url("../img/wonderwoman.jpg");
    background-position: 110px 0px;
    background-size: 120%;
    border-radius: 50%;
    height: 100px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 200px;
    width: 100px;
    z-index: 2;
}

.icoSuperMan {
    background-image: url("../img/superman.jpg");
    background-position: 155px 0px;
    background-size: 200%;
    border-radius: 50%;
    height: 100px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 200px;
    width: 100px;
    z-index: 2;
}

.icoHarley {
    background-image: url("../img/harley.jpg");
    background-position: 105px 0px;
    background-size: 150%;
    border-radius: 50%;
    height: 100px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 200px;
    width: 100px;
    z-index: 2;
}

.card i {
    color: #cc2424;
    font-size: var(--fontSizeH2);
    left: 8%;
    position: absolute;
    top: 8%;
}

.bottom-card {
    background-color: gainsboro;
    height: 190px;
    height: 200;
    padding-top: 50px;
}

.bottom-card h2 {
    font-size: var(--fontSizeH2);
    text-align: center;
}

.bottom-card p {
    font-size: var(--fontSizeP);
    overflow: hidden;
    padding: 0 5px;
    text-align: center;
    text-overflow: ellipsis;
}

.buttom {
    background-color: gainsboro;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 1em;
}

div.buttom a {
    background-color: var(--colorNav);
    border-radius: 5px;
    color: white;
    display: block;
    font-size: var(--fontSizeP);
    margin: 0 auto;
    padding: 0.5em 1em;
    text-align: center;
    text-decoration: none;
    width: 100px;
}

.buttomPlus {
    color: #00669f;
    font-size: 3em;
    position: fixed;
    right: 1%;
    top: 50%;
}