:root {
    --colorDisccount: #1CD1B0;
    --colorFooter: #00669F;
    --colorNav: #00669F;
    --colorNav2: #001D2D;
    --colorQuin: #2C0187;
    --textColorFooter: #ffffff;
    --textColorNav: #FFFFFF;
/*     --fontSizeNav1: 16px;
    --fontSizeNav2: 32px;
    --fontSizeNav3: 20px;
    --fontSizeP: 16px;
    --fontSizeH2: 24px;
    --fontSizeFooter: 16px;
 */
    --fontSizeNav1: 1vw;
    --fontSizeNav2: 2vw;
    --fontSizeNav3: 1.5vw;
    --fontSizeP: 16px;
    --fontSizeH2: 24px;
    --fontSizeFooter: 1vw;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;

}